.body-content{
    display: flex;
}

.container-plist{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-cart{
    display: flex;
    justify-content: left;
    max-width: 500px;
    margin-left: auto;
    width: 30%;
    height: 100vh;
}