.body-content{
    display: flex;
    height: 100vh;
}

.container-plist{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-cart{
    display: flex;
    justify-content: left;
    max-width: 550px;
    margin-left: auto;
    width: 100%;
}