.card{
    background-color: #F5F7F8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    filter: blur(0.5px);
    transition: filter 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card:hover {
    filter: blur(0px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  

.card-title{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    word-break: break-word;
    max-height: 100px;
    overflow: hidden;
    line-height: 1.5;
}

.card-value{
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 16px;
    color: #333;
    margin-top: 0px;
}

.card-img {
    width: 220px;
    height: 320px;
    object-fit: fill;
    border-radius: 10px;
    margin-bottom: 20px;
  }