.shopping-menu{
    width: 100%;
    padding-right: 20px;
    height: 100dvh;
}

.total-price{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items:flex-end;
    justify-self:center;
    flex-grow: 1;
    padding-left: 20px;
}

.elements-list{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.item{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border: 2px solid #c6c5c5c5;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    align-items: center;
}

.item-view{
    flex-grow: 1;
}

.remove-item button{
    background-color: #EAE4DD;
    right: 0;
    top: 0;
    font-size: 18px;
}

.edit-item button{
    background-color: #EAE4DD;
    color: black;
    right: 0;
    top: 0;
    font-size: 18px;
}

.edit-item button:hover{
    mix-blend-mode: normal;
    color: blue;
}

.remove-item button:hover{
    mix-blend-mode: normal;
    color: red;
}